[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yaspin = "*"
schedule = "*"
prompt-toolkit = "*"
"psycopg2-binary" = "*"
requests-html = "*"
pytz = "*"
tabulate = "*"
aao = {editable = true, git = "https://github.com/S1M0N38/aao.git"}

[dev-packages]
"flake8" = "*"
bpython = "*"

[requires]
python_version = "3.7"
